* {
  box-sizing: border-box;
}

.contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.link{
  text-decoration: none;
  color: #fff;
}
.link:hover{
  color: #fff;
}